<form class="form-horizontal"
      action="/user/password/edit/{{user.nickname}}" method="post">
    <fieldset>
        <legend>Change your password</legend>
        {{#if error}}
            <div style="text-align: center">
                <div class="alert alert-dismissible alert-danger fade in" style="display: inline-block">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span class="glyphicon glyphicon-remove-sign" style="margin-right: 4px"></span>
                    {{error}}
                </div>
            </div>
        {{/if}}
        <div class="form-group">
            <label class="col-sm-4 control-label"
                   for="password">New Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control"
                       id="password" placeholder="Password" name="password">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="confirmedPassword">Confirm Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control"
                       id="confirmedPassword" placeholder="Confirm Password"
                       name="confirmedPassword">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <a class="btn btn-default" href="/user/details/{{user.nickname}}">Cancel</a>
                <button type="submit" class="btn btn-success">Change</button>
            </div>
        </div>
    </fieldset>
</form>