<div style="padding: 20px">
    <div class="col-md-4" style="padding: 15px">
        <img src="/uploads/68sjat171479839894389.jpg" class="img-circle" alt="Profile picture" width="177"
             height="177">
    </div>
    <div class="col-md-8">
        <div align="left" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">User Details</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover ">
                    <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>Pesho Peshov</td>
                    </tr>
                    <tr>
                        <td>Birthdate:</td>
                        <td>20/12/1956</td>
                    </tr>
                    <tr>
                        <td>E-Mail:</td>
                        <td>ju@abv.co.uk</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div align="left">
            <a href="#" class="btn btn-default">Edit profile</a>
        </div>
    </div>
    <div class="col-md-12" style="padding:15px">
        <div align="left" class="panel panel-primary" style="margin-bottom: 0px">
            <div class="panel-heading">
                <h3 class="panel-title">About me</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-top: 15px">
        <div class="jumbotron" style="border-radius:20px; border: 2px solid antiquewhite">
            <h1 align="center">Saved</h1>
            <p align="center"> See all saved wallpapers </p>
            <p align="center"><a class="btn btn-warning btn-lg"> Saved </a></p>
        </div>
    </div>
    <div class="col-md-6" style="padding-top: 15px">
        <div class="jumbotron" style="border-radius:20px; border: 2px solid antiquewhite">
            <h1 align="center">Uploads</h1>
            <p align="center"> See all uploaded wallpapers </p>
            <p align="center"><a class="btn btn-success btn-lg">Uploads</a></p>
        </div>
    </div>
</div>
