<form class="form-horizontal"
      action="/admin/category/edit/{{category.id}}" method="POST">
    <fieldset>
        <legend>Edit Category</legend>
        {{#if error}}
            <div style="text-align: center">
                <div class="alert alert-dismissible alert-danger fade in" style="display: inline-block">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span class="glyphicon glyphicon-remove-sign" style="margin-right: 4px"></span>
                    {{error}}
                </div>
            </div>
        {{/if}}
        <div class="form-group">
            <label class="col-sm-4 control-label"
                   for="name">Category Name</label>
            <div class="col-sm-4 ">
                <input type="text" class="form-control"
                       id="name" placeholder="Category Name" name="name" value="{{
                category.name }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <a class="btn btn-default"
                   href="/admin/category/all">Cancel</a>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </fieldset>
</form>