{% extends 'base.html.twig' %}

{% block sorting %}
<div style="text-align: center">
    <div class="btn-group">
        <a class="btn btn-default disabled">Sort wallpapers by</a>
        <a href="#" class="btn btn-default">Downloads</a>
        <a href="#" class="btn btn-default">Rating</a>
        <a href="#" class="btn btn-default">Date</a>
    </div>
    {% endblock %}

{% block main %}
    {% for article in articles %}
        <div class="col-md-4">
            <article>
                <header>
                    <h2>{{ article.title }}</h2>
                </header>

                <p>
                    {{ article.summary }}
                </p>

                <small class="author">
                    {{ article.author }}
                </small>

                <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-sm"
                           href="{{ path('article_view', {'id': article.id}) }}">Read more &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    {% endfor %}
    {% endblock %}

    {% block pager %}
        <div class="container-fluid">
            <ul class="pager" style="margin-top: 0px">
                <li class="disabled"><a href="#">Previous</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
    {% endblock %}
