<div style="text-align: center">
    {{#each articles}}
        <div class="col-md-4" style="width: 310px; display: inline-block; background-color:#111; padding: 0; margin:5px;
         border-radius:2px">
            <a href="/article/details/{{this.id}}">
                <img src="http://localhost:3000/uploads/{{this.imgName}}"
                     width="300px" height="180px" style="margin-top: 5px">
            </a>
            <p style="margin-top: 10px">
                {{#each this.tags}}
                    <a class="btn btn-default btn-xs"
                       href="/tag/{{this}}">{{this}}</a>
                {{/each}}
            </p>
        </div>
    {{/each}}
</div>